Package: big-remaster
Version: 1.0.1-2big3
Depends: debootstrap, bigbashview, bigsudo, synaptic, zenity, xterm, xorriso, isolinux
Architecture: all
Maintainer: Bruno Goncalves <biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:10884
Description: Make your BigLinux remaster, based in Ubuntu repository
