Package: big-remaster
Version: 1.0.1-2big1
Depends: debootstrap, bigbashview, gksu, synaptic, zenity, xterm, xorriso, isolinux
Architecture: all
Maintainer: Bruno Goncalves <biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:43548
Description: Make your BigLinux remaster, based in Deepin repository
